<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body ng-app="tetherApp">

<div ng-controller="contractCtrl">
    <h1 ng-hide="submitted">Form Contract</h1>
    <form role="form" ng-submit="" name="contractForm" novalidate ng-hide="submitted">
        <div class="form-group">
            <label>Duration:
            <input name="contract_hours" id="hrID" type="number" ng-model="contractHours" placeholder="Hr" class="form-control" required />
            <input name="contract_minutes" id="minID" type="number" ng-model="contractMinutes" placeholder="Min" class="form-control" required />
            <input name="contract_seconds" id="secID" type="number" ng-model="contractSeconds" placeholder="Sec" class="form-control" required />
            </label>
        </div>

        <div id="installedApps"></div>

        <button type="submit" class="btn btn-primary" ng-click="submitContract()">Submit</button>
    </form>

   <pre ng-show="ongoingContract">Your contract will end in:
        <div class="container" id="countdown"></div>
    </pre>

    <button class="btn btn-warning" ng-show="ongoingContract" ng-click="forfeit()">Forfeit</button>

    <pre ng-show="contractOver">The contract is now over:
        <div class="container" ng-hide="contractSuccess">"You Lost"</div>
        <div class="contianer" ng-show="contractSuccess">"You made it - good job!"</div>
    </pre>

</div>

</body>
</html>